@import url("/js/components/jquery-ui/themes/smoothness/jquery-ui.min.css");

/*viewer's whole container*/
div#viewercontainer{
  margin: 0;
  background-color: #353535;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid maroon;
}

/*renderers window*/
div#viewrenders{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 2px solid green;
}

/*individual renderers*/
.view-render{
  border: 1px solid green;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}

/*thumbnail bar*/
div#viewthumbnail{
  position: absolute;
  top: 0;
  left: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  overflow: auto;
}

/*images within the thumbnail bar*/
.view-thumbnail-img{
    display: block;
    height: 98px;
    border-style: solid;
    border-width: 1px;
    width: 80px;
}
.view-thumbnail-img:hover{
  border-color: red;
}
