@import url("/js/components/jquery-ui/themes/smoothness/jquery-ui.min.css");


div#viewercontainer{
  margin: 0;
  background-color: #353535;
  border-style: solid;
  border-with: 1px;
}

img {
    display: block;
}
