body{
  margin: 0;
}

/*tabs*/
.ui-widget-content{
  border: none;
  padding: 0;
}
.ui-tabs .ui-tabs-panel{
  padding: 0.3em 0 0;
}
li.ui-state-default{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/*close icon within tabs*/
div#tabs li .ui-icon-close{
  float: left;
  margin: 0.2em 0.2em 0 0;
  cursor: pointer;
}

/*div containers within tabs*/
/*main page container*/
div#inputcontainer{
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100vh - 4.8em);
  height: -moz-calc(100vh - 4.8em);
  height: calc(100vh - 4.8em);
  margin: 0;
}
/*viewer containers*/
div.viewer-container{
  position: relative;
  background-color: #353535;
  border: 6px solid #353535;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100vh - 3.2em);
  height: -moz-calc(100vh - 3.2em);
  height: calc(100vh - 3.2em);
  margin: 0;
}

.input-h1{
  color: #848484;
  text-align:center;
  font-size: 2.2em;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*div containing slicedrop image and upload button*/
div#directoryselection{
  width: 400px;
  margin: 0 auto;
  overflow: auto;
}
div#directoryselection > img{
  float: left;
  display: block;
  width: 89px;
  height: 96px;
  margin-right: 5px;
}

/*directory upload button*/
.directory-btn{
  float: left;
  display: block;
  background-color: #DDD;
  color: #FFF;
  font-size: 1.7em;
  text-align: center;
  padding: 1em;
  margin-bottom: 20px;
  width: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.5px dashed #BBB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #666;
  -moz-box-shadow: 2px 2px 2px #666;
  box-shadow: 2px 2px 2px #666;
  cursor: pointer;
}
.directory-btn:active{
  -webkit-box-shadow: inset 6px 6px 5px #666;
  -moz-box-shadow: inset 6px 6px 5px #666;
  box-shadow: inset 6px 6px 5px #666;
}
.directory-btn:hover{
  background-color: #D5D5D5;
}

.input-h2 {
  color: #848484;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

/*footbar*/
.footbar {
  position: absolute;
  border-top: 1px solid #E4E4E4;
  background-color: #F2F2F2;
  padding: 0.5em 0;
  bottom: 0;
  height: 6em;
  width: 100%;
  text-align:center;
  vertical-align: middle;
  line-height: 6em;
  font-size: 0.8em;
  margin: 0;
}
