/*================================================== Rules ================================================== */
body{
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}
div {
  font-family: 'Droid Sans', sans-serif;
}

/*================================================== TABS ================================================== */
/*tabs*/
/*Widget background*/
  .ui-widget-content{
    padding: 0;
  }
  .ui-tabs .ui-tabs-panel{
    padding: 0.3em 0 0;
    background-color: rgba(63,63,63, 1);
  }
  li.ui-state-default{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 11px;

  }
  /*close icon within tabs*/
  div#tabs li .ui-icon-close{
    float: left;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
  }

/*div containers within tabs*/
/*=============================================== Main containers ============================================== */
/*main page container*/
  div#inputcontainer{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: -webkit-calc(100vh - 4.8em);
    height: -moz-calc(100vh - 4.8em);
    height: calc(100vh - 4.8em);
    margin: 0;
  }

/*viewer containers*/
  div.viewer-container{
    position: relative;
    border: 6px solid #353535;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: -webkit-calc(100vh - 3.2em);
    height: -moz-calc(100vh - 3.2em);
    height: calc(100vh - 3.2em);
    margin: 0;
  }

  .custom-button{
    cursor: pointer;
  }

/*================================================== Collaboration ================================================== */
/*collaboration section*/
  .collab{
    position: absolute;
    left: 40px;
    z-index: 9999;
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
  }
  .collab-input{
    display: none;
    border: 1px solid;
    margin-top: 2px;
    padding: 2px;
    background-color: #eaebda;
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
  }
  #gobutton{
    display: block;
    margin: 3px auto 0;
    font-size: 11px;
    background-color: #95A090;
    font-family: 'Droid Sans', sans-serif;
  }

/*================================================== Title 1 ================================================== */
/*Title goes here*/
  .input-h1{
    color: #eaebda;
    text-align:left;
    font-size: 50px;
    padding-top: 40px;
    /*text-shadow: 1px 1px rgba(221,232,187, 0.5);*/
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 100px;
    vertical-align: middle;
    line-height: 1em;
  }

/*================================================== BUTTON ================================================== */
/*div containing slicedrop image and upload button*/
  div#directoryselection{
    width: 400px;
    margin: 0 auto;
    overflow: auto;
  }
  div#directoryselection > img{
    float: left;
    display: block;
    width: 86px;
    height: 94px;
    margin-right: 5px;
    margin-top: 10px;
  }

  /*directory upload button*/
  .directory-btn{
    float: left;
    display: block;
    height: 94px;
    background-color: #95A090;
    border: 3px solid #D9E2D4;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 2.2em;
    line-height: 1.5em;
    margin-bottom: 3em;
    margin-top: 10px;
    margin-left: 2px;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .directory-btn:active{
    -webkit-box-shadow: inset 3px 3px 2.5px #666;
    -moz-box-shadow: inset 3px 3px 2.5px #666;
    box-shadow: inset 3px 3px 2.5px #666;
  }
  .directory-btn:hover{
    background-color: #E1EBDA;
    border: 4px solid #95A090;
  }

/*================================================== Title 2 ================================================== */
/*Second piece of text goes here*/
  .input-h2 {
    color: #f6f7f0;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    padding-left: 40px;
  }

/*================================================== README ================================================== */
/*Second piece of text goes here*/

  .README{
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
    float: right;
    padding-right: 80px;
    background-color: #eaebda;
  }
  #READMEbutton{
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
  }

/*================================================== Footbar ================================================== */
/*footbar*/
  .footbar {
    position: fixed;
    background-color: #eaebda;
    height: 6em;
    width: 100%;
    padding-left: 40px;
    text-align:left;
    vertical-align: middle;
    line-height: 0.9em;
    font-size: 11px;
    /*padding: 0.2em 0;*/
    bottom: 0;
    margin: 0;
  }
